[submodule "web/wysiwyg/ckeditor"]
	path = web/wysiwyg/ckeditor
	url = git@github.com:asgardbundles/ckeditor.git
[submodule "web/wysiwyg/kcfinder"]
	path = web/wysiwyg/kcfinder
	url = git@github.com:asgardbundles/kcfinder.git
