[submodule "web/wysiwyg/ckeditor"]
	path = web/wysiwyg/ckeditor
	url = https://github.com/asgardmodules/ckeditor.git
[submodule "web/wysiwyg/kcfinder"]
	path = web/wysiwyg/kcfinder
	url = https://github.com/asgardmodules/kcfinder.git
